<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=ABeeZee&family=Lobster&family=Oregano&family=Quicksand&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../style/index.css">
    <script src="../scripts/topicSpecific.js" defer></script>
    <script type="module" src="../scripts/displayToDos.js" defer></script>
    <script type="module" src="../scripts/popup.js"></script>
</head>
<body>
    <nav class="navbar">
        <div class="logo">
            <img id="img-logo" src="../assets/checkMark.png" alt="">
            <a href="../views/index.html" id="title">TO-DOs</a>
        </div>
        <div class="links">
        <a class="navbar-link" href="../views/addToDo.html">Add new ToDo</a>
        <a class ="navbar-link" href="">Personalize</a>
        </div>
    </nav>
    <div class="body-div">
    <div class="side-div">
        <p class="side-link" id = "-2">Today</p>
        <p class="side-link" id = "-1">Completed</p>
        <div id="expand-div">
        <p id="arrow">></p>
        <p id="topic-p">Topic-specific</p>
        <br>
        </div>
        <div id="topics-div">
        </div>
    </div>
    <div class="main-div">
        <p id="main-title">
            Today's tasks
        </p>
        <div id="todos-div">
            
        </div>
        <div class="popup">
            <h3 id="popup-title">

            </h3>
            <p id="popup-description">

            </p>
            <div id="close">
                <p>X</p>
            </div>
        </div>
    </div>
    </div>
</body>
</html>